:root {
  --primary: #8B54FF;
  --text: #545252;
  --title: #0F2239;
  --bg: #f3f6fb;
  --bgbg: #f3f6fb;
  --light-bg: #ffffff;
  --lighter-bg: #ffffff;
  --border: #b8b8b8;
  --reversalborder: #ffffff00;
  --shadowdark: 0px 6px 13px rgb(117 117 117 / 38%);
  --shadow: 0px 6px 13px rgb(117 117 117 / 38%);
  --comment: rgba(110, 84, 143, 1);
  --dark: rgba(20, 20, 20, 1);
  --blue-dark: rgba(15, 34, 57, 1);
}

table {
    border-collapse: collapse;
    background-color: var(--bg);
    text-align: left;
    overflow: hidden;
  }
  table thead {
    box-shadow: var(--shadowdark);
  }
  table th {
    padding: 1rem 2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    font-size: 0.7rem;
    font-weight: 900;
  }
  table td {
    padding: 0rem 2rem;
  }

  table td img {
    width: 4rem;
    border-radius: 7pxrem;
  }
  table a {
    text-decoration: none;
    color: #2962ff;
  }
  table .status {
    border-radius: 0.2rem;
    background-color: #fff0c2;
    padding: 0.2rem 1rem;
    text-align: center;
  }
  table .intermediate {
    background-color: #fff0c2;
    color: #a68b00;
  }

  table .beginner {
    background-color: #c8e6c9;
    color: #388e3c;
  }
  table .advanced {
    background-color: #ffcdd2;
    color: #c62828;
  }
  table .amount {
    text-align: right;
  }
  table tr:nth-child(even) {
    background-color: var(--bgbg);
  }